input:checked ~ .dot {
  transform: translateX(100%);
}

input[id='switch-text']::-webkit-input-placeholder {
  font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  
}
