.background {
    background-color: rgba(52, 56, 60);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
}

.containerDiv {
    width: 70vw;
    padding-top: 100px;
}

#components-layout-demo-fixed .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
}

.site-layout .site-layout-background {
    background: #fff;
}
